<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Kuka toi on? Lataa kuva ja tarkista</h4>
            <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
        <div ng-include='"https://r7s4gmfu66.execute-api.eu-west-1.amazonaws.com/Test"'></div>
      </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
